{% extends 'base.html' %}
{% load static %}

{% block body_block %}
<table class="table table-strip">
    <thead>
        <tr>
            <td>Visitor Name</td>
            <td>ID Number</td>
            <td>Computer Used</td>
            <td>Reason</td>
            <td>Date of Visit</td>
            <td>Time In</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        {% for visitor in visitors %}
            <tr>
                <td>{{ visitor.visitor_name }}</td>
                <td>{{ visitor.id_no }}</td>
                <td>{{ visitor.computer_id }}</td>
                <td>{{ visitor.reason }}</td>
                <td>{{ visitor.date_of_visit }}</td>
                <td>{{ visitor.time_in }}</td>
                <td>
                    <form method="post" action="{% url 'checkout-visitor' visitor.id %}">
                        {% csrf_token %}
                        <input type="submit" value="CHECK-OUT" name="checkout" class="btn btn-danger">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}