{% extends 'base.html' %}
{% load static %}

{% block body_block %}
<table class="table table-strip">
  <thead>
    <tr>
        <td>Trainer Name</td>
        <td>Course</td>
        <td>Course Unit</td>
        <td>Class Size</td>
        <td>Check In Time</td>
        <td>Action</td>
    </tr>
  </thead>
    <tbody>
        {% for class in allocated_classes %}
            <tr>
                <td>{{ class.trainer_name }}</td>
                <td>{{ class.course }}</td>
                <td>{{ class.course_unit }}</td>
                <td>{{ class.class_size }}</td>
                <td>{{ class.class_start }}</td>
                <td>
                    <form method="post" action="{% url 'checkout-class' class.id %}">
                        {% csrf_token%}
                        <input type="submit" class="btn btn-danger" value="END CLASS">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}