<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link href='{% static "/css/bootstrap.css"%}' rel="stylesheet">
    <link href='{% static "/css/main.css"%}' rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
<div class="container-fluid">
    <div class="sidebar">
        <div class="top">
            <div class="logo">
                <img src='{% static "/images/jitume.jpg"%}' class="logo-img" alt="logo image">
                <span>Welcome to Jitume</span>
            </div>
        </div>
        <ul>
            <li>
                <a href="{% url 'computers' %}">
                    <i class="bx bxs-grid-alt"></i>
                    <span class="nav-item">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="{% url 'computers' %}">
                    <i class='bx bx-child' ></i>
                    <span class="nav-item">Student Checkin</span>
                </a>
            </li>
            <li>
                <a href="{% url 'allocated' %}">
                    <i class='bx bx-user-check' ></i>
                    <span class="nav-item">Student Checkout</span>
                </a>
            </li>
            <li>
                <a href="{% url 'allocate-classes' %}">
                    <i class='bx bx-book-open' ></i>
                    <span class="nav-item">Allocate Class</span>
                </a>
            </li>
            <li>
                <a href="{% url 'allocated-classes' %}">
                    <i class='bx bx-log-out' ></i>
                    <span class="nav-item">Checkout Class</span>
                </a>
            </li>
            <li>
                <a href="{% url 'allocate-visitors' %}">
                    <i class='bx bxs-user-account' ></i>
                    <span class="nav-item">Allocate Visitor</span>
                </a>
            </li>
            <li>
                <a href="{% url 'allocated-visitors' %}">
                    <i class='bx bx-log-out' ></i>
                    <span class="nav-item">Check-out Visitor</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class='bx bxs-report' ></i>
                    <span class="nav-item">Reports</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="main-content">
        {% block body_block %}
        {% endblock %}
    </div>
</div>
<script src='{% static "/js/bootstrap.js" %}'></script>

</body>

<!--<script>-->
<!--    let btn = document.querySelector('#menu-btn')-->
<!--    let sidebar = document.querySelector('.sidebar')-->
<!--    btn.onclick = function(){-->
<!--        sidebar.classList.toggle('active');-->
<!--    }-->
<!--</script>-->
</html>