{% extends "base.html"%}
{% load static %}

{% block body_block %}
<table class="table">
    <thead>
        <td>Adm No</td>
        <td>Name</td>
        <td>Reason</td>
        <td>Time In</td>
        <td>Action</td>
    </thead>
    <tbody>
        {% for student in allocated%}
            <tr>
                <td>{{ student.adm_no}}</td>
                <td>{{ student.name }}</td>
                <td>{{ student.reason }}</td>
                <td>{{ student.check_in}}</td>
                <td>
                    <form method="post" action="{% url 'checkout-student' student.id %}" class="form">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="CHECK OUT">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock%}