{% extends 'base.html' %}
{% load static %}

{% block body_block %}

<div class="card visitor-form">
    <form class="form" method="post">
        {% csrf_token%}
        <div class="form-group">
             <div class="form-control">
                <label>Trainer's Name: </label>
                {{ form.trainer_name}}
            </div>
            <div class="form-control">
                <label>Course: </label>
                {{ form.course }}
            </div>
            <div class="form-control">
                <label>Course Unit: </label>
                {{ form.course_unit }}
            </div>
            <div class="form-control">
                <label>Class Size</label>
                {{ form.class_size }}
            </div>
            <div class="form-control">
                <input type="submit" class="btn btn-success" value="ALLOCATE">
            </div>
        </div>
    </form>
</div>
{% endblock %}