{% extends 'base.html' %}
{% load static %}

{% block body_block %}
<table class="table table-strip">
    <thead>
        <tr>
            <td>Trainer Name</td>
            <td>Course</td>
            <td>Unit</td>
            <td>Class Size</td>
            <td>Class Start</td>
            <td>Class End</td>
        </tr>
    </thead>
    <tbody>
        {% for visit in class_visits %}
            <tr>
                <td>{{ visit.trainer_name }}</td>
                <td>{{ visit.course }}</td>
                <td>{{ visit.course_unit }}</td>
                <td>{{ visit.class_size }}</td>
                <td>{{ visit.class_start }}</td>
                <td>{{ visit.class_end }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}