{% extends 'base.html' %}
{% load static %}

{% block body_block %}
<h2>
    All the Computers
</h2>
<table class="table">
    <thead>
        <td>IP Address</td>
        <td>Availability</td>
        <td>
            Action
        </td>
    </thead>
    {% for computer in computers %}
        <tr>
            <td>{{ computer.ip_address }}</td>
            <td>{{ computer.allocate }}</td>
            <td>
                <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#allocate-student">Allocate</button>
            </td>
        </tr>
    {% endfor%}
</table>

<div class="modal fade" id="allocate-student" tabindex="1" aria-labelledby="student-label" aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="student-label">Allocate Student</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <table class="table">
                        {% csrf_token %}
                        {{ form.as_table }}
                    </table>
                    <input type="submit" class="btn btn-success" name="submit" value="ALLOCATE"/>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>
{% endblock%}