{% extends 'base.html' %}
{% load static %}

{% block body_block %}
<h2>All student visits</h2>
<table class="table">
    <thead>
        <tr>
            <td>Adm No.</td>
            <td>Name</td>
            <td>Reason</td>
            <td>Check In Time</td>
            <td>Check Out Time</td>
        </tr>
    </thead>
    <tbody>
        {% for visit in visits %}
            <tr>
                <td>{{ visit.adm_no }}</td>
                <td>{{ visit.name }}</td>
                <td>{{ visit.reason }}</td>
                <td>{{ visit.check_in }}</td>
                <td>{{ visit.check_out }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
