<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>All Outsider visits</h2>
<table class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>ID Number</td>
            <td>Phone Number</td>
            <td>Check In Time</td>
            <td>Check Out Time</td>
            <td>Reason</td>
            <td>Total Time</td>
        </tr>
    </thead>
    <tbody>
        {% for visit in visitors_visits %}
            <tr>
                <td>{{ visit.visitor_name }}</td>
                <td>{{ visit.id_no }}</td>
                <td>{{ visit.phone_number }}</td>
                <td>{{ visit.time_in }}</td>
                <td>{{ visit.time_out }}</td>
                <td>{{ visit.reason }}</td>
                <td>{{ visit.total_time }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</body>
</html>