{% extends 'base.html' %}
{% load static %}

{% block body_block %}
<h2>All Outsider visits</h2>
<table class="table">
    <thead>
        <tr>
            <td>Name</td>
            <td>ID Number</td>
            <td>Phone Number</td>
            <td>Check In Time</td>
            <td>Check Out Time</td>
            <td>Date of Visit</td>
            <td>Reason</td>
        </tr>
    </thead>
    <tbody>
        {% for visit in visitors_visits %}
            <tr>
                <td>{{ visit.visitor_name }}</td>
                <td>{{ visit.id_no }}</td>
                <td>{{ visit.phone_number }}</td>
                <td>{{ visit.time_in }}</td>
                <td>{{ visit.time_out }}</td>
                <td>{{ visit.date_of_visit}}</td>
                <td>{{ visit.reason }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
